$
\color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow
\color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow
\color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow
\color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow
\color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow
\color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow \color{red}\Downarrow 
$

Use the **Pandas cheatsheet** [here](https://github.com/adrien-perello/Computer-Science-Crash-Course/blob/main/02_scientific-computing-libraries/03_pandas_cheatsheet.ipynb) to complete the tasks below

$
\color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow
\color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow
\color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow
\color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow
\color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow
\color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow \color{red}\Uparrow
$

In [15]:
import pandas as pd
import numpy as np

# Importing a file and exploring data

In [2]:
# Import the "commodities.csv" file
# (look for the "Read and write data from external files" section
# in the pandas cheatsheet)

# ! ANSWER
commodities = pd.read_csv("commodities.csv")
commodities

    year  candies  patatoes  carrots  name
0   1990    20.00      2.00    10.00   Jan
1   1991    22.00      4.00    20.00   Jan
2   1992    30.00      9.00    30.00  Piet
3   1993    33.00     10.00    40.00  Emma
4   1994    33.00     10.00    50.00  Noah
5   1995    34.00     10.00    60.00  Emma
6   1996    40.00     11.00    70.00  Noah
7   1997    45.00     12.00    80.00  Piet
8   1998    44.00     13.00    90.00  Piet
9   1999    46.00     20.00   100.00  Kate
10  2000    80.00     22.00   110.00  Lisa
11  2001    88.00     23.00   120.00  Kate
12  2002    90.00     27.00   130.00  Lisa
13  2003   100.00     30.00   140.00  Piet
14  2004   120.00     33.00   150.00  Lisa
15  2005   123.00     34.00   160.00  Alex
16  2006   144.00     35.00   170.00   Mia
17  2007   150.00     50.00   180.00   Jan
18  2008   170.00     45.00   190.00   Jan
19  2009   177.00     40.00   200.00  Emma
20  2010   180.00     39.00   210.00  Alex
21  2011      NaN       NaN      NaN   NaN

In [3]:
# Import the commodities sheet from the 'MFA_II_pandas_exercise.xlsx' file

# ! ANSWER
commodities = pd.read_excel("MFA_II_pandas_exercise.xlsx", sheet_name="commodities")
commodities

    year  candies  patatoes  carrots  name
0   1990    20.00      2.00    10.00   Jan
1   1991    22.00      4.00    20.00   Jan
2   1992    30.00      9.00    30.00  Piet
3   1993    33.00     10.00    40.00  Emma
4   1994    33.00     10.00    50.00  Noah
5   1995    34.00     10.00    60.00  Emma
6   1996    40.00     11.00    70.00  Noah
7   1997    45.00     12.00    80.00  Piet
8   1998    44.00     13.00    90.00  Piet
9   1999    46.00     20.00   100.00  Kate
10  2000    80.00     22.00   110.00  Lisa
11  2001    88.00     23.00   120.00  Kate
12  2002    90.00     27.00   130.00  Lisa
13  2003   100.00     30.00   140.00  Piet
14  2004   120.00     33.00   150.00  Lisa
15  2005   123.00     34.00   160.00  Alex
16  2006   144.00     35.00   170.00   Mia
17  2007   150.00     50.00   180.00   Jan
18  2008   170.00     45.00   190.00   Jan
19  2009   177.00     40.00   200.00  Emma
20  2010   180.00     39.00   210.00  Alex
21  2011      NaN       NaN      NaN   NaN

**Follow up questions:**

What happens if you load the Excel file without specifying a sheet?

- How does pandas handle multi-sheet Excel files by default?
- What type of data structure does pd.read_excel() return in this case?
- Can you still access the data from individual sheets after loading the file without specifying a sheet?

Same questions as above, but with `sheet_name = None`

**ANSWER**

...

In [ ]:
# get an overview of the data by printing
# 1) technical information about the dataframe
# 2) the number of the rows and columns
# 3) the first and/or last 3 rows of the dataframe
# 4) the name of the columns and of the index

# ! ANSWERS
# commodities.info()
# commodities.shape
# commodities.head(3)
# commodities.tail(3)
# commodities.columns
# commodities.index

# Selecting columns

In [ ]:
# Display the "year" column
# 1) using []
# 2) using .loc[]
# 3) using .iloc[]

# ! ANSWERS
# commodities["year"]
# commodities.loc[:, "year"]
# commodities.iloc[:, 0]

**Follow up questions:**

1. How do `[]`, `.loc[]`, and `.iloc[]` differ in their approach to selecting columns?

   - What type of inputs do each of them accept?
   - How does their output differ (if at all) in this case?

2. What happens if the column name changes or is misspelled in the dataset? What error is raised?

3. What happens if you try to use `.iloc[]` with a column index that doesn't exist? What error is raised? What about with negative numbers (e.g. -1 or -2)?

4. What are the advantages of using `.loc[]` vs `.iloc[]`? In what situations would one method be preferable over the others?

**ANSWER**

...

1. How do `[]`, `.loc[]`, and `.iloc[]` differ in their approach to selecting columns?

   - What type of inputs do each of them accept?
     - `[]` accepts a column label (string) or a list of column labels.
     - `.loc[]` accepts a label-based selection, meaning it requires the column name(s).
     - `.iloc[]` uses integer-based indexing, meaning it selects columns by their position.
   - How does their output differ (if at all) in this case?
     - If selecting a single column, all three return a pandas Series.
     - If selecting multiple columns (e.g., `commodities[["year", "value"]]`, `commodities.loc[:, ["year", "value"]]`, or `commodities.iloc[:, [1, 3]]` ), the output is a DataFrame.

2. What happens if the column name changes or is misspelled in the dataset? What error is raised?

   - `[]` and `.loc[]` will raise a `KeyError` if the column name is missing or misspelled.
   - `.iloc[]` will not be affected because it selects based on position rather than name.

3. What happens if you try to use `.iloc[]` with a column index that doesn't exist? What error is raised? What about with negative numbers (e.g. -1 or -2)?

   - `.iloc[]` raises an `IndexError` if the column index is out of range (> nb columns or < -nb columns).
   - Negative indices work similarly to Python lists and NumPy arrays: they select columns from the end of the DataFrame.

4. What are the advantages of using `.loc[]` vs `.iloc[]`? In what situations would one method be preferable over the others?
   - `.loc[]` is useful when working with labeled data, making code more explicit and readable, which improves maintainability. But it might fail if the name of the columns change
   - `.iloc[]` is useful when column names are unknown or change. But the code is less readable and might fail if the position of the columns change.

In [ ]:
# Display multiple columns at once (e.g. "candies" and "patatoes")
# using each of the 3 methods

# ! ANSWERS
# commodities[["candies", "patatoes"]]
# commodities.loc[:, ["candies", "patatoes"]]
# commodities.iloc[:, [1, 2]]

# Reindexing

In [ ]:
# Set "year" as Index
# make sure the change is permanent (2 options)

# ANSWER
# commodities = commodities.set_index("year")
# commodities.set_index("year", inplace=True) # alternative

**Follow up questions:**

- what data structure does each option returns?
- How can you reset the index back to the default integer index?
- What happens if you try to set an index on a column that doesn’t exist?
- Can you set multiple columns as an index? If so, how?

**ANSWER**

...

- what data structure does each option returns?
  - `commodities.set_index("year")` → Returns a new DataFrame with "year" as the index. The original commodities DataFrame remains unchanged unless reassigned.
  - `commodities.set_index("year", inplace=True)` → Modifies the commodities DataFrame in place and returns None. The "year" column is moved to the index in the same DataFrame.
- How can you reset the index back to the default integer index?
  - `commodities = commodities.reset_index()`
  - `commodities.reset_index(inplace=True)`
- What happens if you try to set an index on a column that doesn’t exist?
  - Pandas raises a `KeyError`, indicating that the column name is not found.
- Can you set multiple columns as an index? If so, how?
  - `commodities.set_index(["year", "name"])` creates a **MultiIndex**, where both `year` and `name` define the DataFrame’s hierarchical index.

# Slicing

In [ ]:
# Display the number of each commodity for the year 2000
# in a single line of code.
# Provide solutions using both .loc[] and .iloc[].

# ! ANSWER
# commodities.loc[2000, :]
# commodities.iloc[10, :]

In [ ]:
# Select the 'patatoes' and 'carrots' columns together
# for the year 2000, in a single line of code.
# Provide solutions using both .loc[] and .iloc[].

# ! ANSWER
# commodities.loc[2000, ["patatoes", "carrots"]]
# commodities.iloc[10, [1, 2]]

In [ ]:
# Do the same (show patatoes and carrots together)
# but for the year 2000 AND 2010.
# Provide solutions using both .loc[] and .iloc[].

# ! ANSWER
# commodities.loc[[2000, 2010], ["patatoes", "carrots"]]
# commodities.iloc[[10, 20], [1, 2]]

**Follow up questions:**

- How would you select data for all years greater than 1995?
- How would you select data for all years greater than 1995 and less than 2005?
- How would you select data related either to `Alex` or `Lisa`?
- load `commodity_alt.csv`, set `year` as index and try to access the data for the year 2000. Do you encounter any problem? If so, why is that?

For the first two questions, try both using `:` and **boolean mask**.

**ANSWER**

...

- How would you select data for all years greater than 1995?

In [ ]:
# # using `:`
# commodities.loc[1995:, ["patatoes", "carrots"]]

# # using boolean mask
# mask = commodities.index > 1995
# commodities.loc[mask, ["patatoes", "carrots"]]

- How would you select data for all years greater than 1995 and less than 2005?

In [ ]:
# # using `:`
# commodities.loc[1995:2005, ["patatoes", "carrots"]]

# # using boolean mask
# mask = (commodities.index > 1995) & (commodities.index < 2005)
# commodities.loc[mask, ["patatoes", "carrots"]]

- How would you select data related either to `Alex` or `Lisa`?

In [ ]:
# # using boolean mask
# mask = (commodities['name'] == 'Alex') | (commodities['name'] == 'Lisa')
# commodities.loc[mask, :]

# # using .isin()
# mask = commodities['name'].isin(['Alex', 'Lisa'])
# commodities.loc[mask, :]

# # using query()
# commodities.query("name == 'Alex' or name == 'Lisa'")  # be careful with the quotes

- load `commodity_alt.csv`, set `year` as index and try to access the data for the year 2000. Do you encounter any problem? If so, why is that?

In [ ]:
# commodities_alt = pd.read_csv("commodities_alt.csv")
# commodities_alt = commodities_alt.set_index("year")

# commodities_alt.loc[2000, :]  # this returns an KeyError because the year column contains strings and not integers
# commodities_alt.info()  # pay attention to the Dtype of the year column (object = string)

# Cleaning data

In [ ]:
# # rename the column that has a typo

# # ! ANSWER
# commodities = commodities.rename(columns={"patatoes": "potatoes"})
# commodities.rename(columns={"patatoes": "potatoes"}, inplace=True)  # alternative

**Follow up questions:**

- What happens if you try to rename a column that doesn’t exist in the DataFrame?
- Is renaming case-sensitive? What if you accidentally change "Patatoes" to "Potatoes" but the original column is lowercase?

**ANSWER**

...

- What happens if you try to rename a column that doesn’t exist in the DataFrame?
  - The `.rename()` method does nothing if the specified column does not exist; it simply leaves the DataFrame unchanged.

In [ ]:
# commodities.rename(columns={"non_existent_column": "new_name"})

- Is renaming case-sensitive? What if you accidentally change "Patatoes" to "Potatoes" but the original column is lowercase?
  - Yes, renaming is case-sensitive. If the original column name is "patatoes", renaming "Patatoes" will have no effect.

In [ ]:
# # Remove the rows that are empty

# # ! ANSWER
# commodities = commodities.dropna()
# commodities.dropna(inplace=True)  # alternative

**Follow up questions:**

- What happens if there are only some missing values in a row? Does .dropna() remove the whole row?
- How could you replace missing values instead of removing them?

**ANSWER**

...

- What happens if there are only some missing values in a row? Does .dropna() remove the whole row?
  - Yes, by default, .dropna() removes any row that contains at least one missing value.

- How could you replace missing values instead of removing them?
  - Use .fillna() to replace NaN values with a specific value

In [ ]:
# commodities.fillna(0)  # Replaces NaNs with 0

# Plot waste statistics

In [4]:
# Load the "wasteStatistics" sheet of the "MFA_II_pandas_exercise.xlsx" file,
# and set the "year" column as the index

# ! ANSWER
waste = pd.read_excel("MFA_II_pandas_exercise.xlsx", sheet_name="wasteStatistics")
waste = waste.set_index("year")

In [ ]:
# Plot residual waste over the years (x-axis should be the year)

# # ! ANSWER
# waste["residual"].plot()  # this does not show the year on the x-axis
# waste.plot(x="year", y="residual")  # this shows the year on the x-axis

# # or alternatively, we set the index to the year
# waste = waste.set_index("year")
# waste["residual"].plot()

**Follow up questions:**

- How can you customize the plot to add a title and axis labels? Change the plot size?
- Assuming the unit is kilograms, how would you display the results in tonnes?

**ANSWER**

...

- How can you customize the plot to add a title and axis labels? Change the plot size?

In [ ]:
# waste["residual"].plot(
#     figsize=(12, 4),
#     xlabel="years",
#     ylabel="kg",
#     title="Waste statistics",
# )

- Assuming the unit is kilograms, how would you display the results in kilotonnes instead?

In [ ]:
# waste_in_tonnes = waste["residual"] / 1e6
# waste_in_tonnes.plot(ylabel="kt")

In [ ]:
# Plot all types of waste stacked over the years in one single plot

# ! ANSWER
# waste.plot(kind="area")

# Mean, sum, maximum and minimum

In [ ]:
# Calculate the mean, sum, minimum, and maximum for each year
# without using a loop. Save the results in a separate column.

# # ! ANSWER
# waste['total'] = waste.sum(axis="columns")  # or axis=1
# waste['average'] = waste.mean(axis="columns")  # or axis=1
# waste['minimum'] = waste.min(axis="columns")  # or axis=1
# waste['maximum'] = waste.max(axis="columns")  # or axis=1

In [ ]:
# still without using a loop, perform the following calculations:
# 1) the cumulative sum of organic waste over the years.
# 2) the year-over-year difference in chemical waste
# (i.e., the difference between each year and the previous one)
# save the results in separate columns

# ! ANSWER
waste["organic_cumsum"] = waste["organic"].cumsum()
waste["chemical_diff"] = waste["chemical"].diff()

**Follow up questions:**

- What would happen if the dataset was not sorted by year before performing these operations?
- What happens to the first row when calculating differences on a column with pandas? Why?
- How can you modify the result so it shows 0 instead?
- In some cases, we may want the first difference to be calculated from a specific **non-zero** starting value. How can we achieve this using numpy? How would you save the result (a numpy array) in a new column?

**ANSWER**

...

- What would happen if the dataset was not sorted by year before performing these operations?
  - The calculations may produce incorrect or misleading results. Make sure to sort the index using `.sort_index()`

- What happens to the first row when calculating differences on a column with pandas? Why?
  - The `.diff()` method calculates the difference between each row and its predecessor. For the first row, there is no previous row to subtract from, so it results in a `NaN` value.

- How can you modify the result so it shows 0 instead?
  - use `.fillna(0)` to replace the `NaN` in the first row with 0

- In some cases, we may want the first difference to be calculated from a specific **non-zero** starting value. How can we achieve this using numpy? How would you save the (numpy array) result in a new column?
  - use `np.diff()` with the `prepend` argument. The `prepend` argument allows to specify a value that will be considered as the "previous value" for the first element. Unfortunately, the `prepend` argument is not available with the `.diff()` function from [pandas](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.diff.html)

In [ ]:
# using np.diff() to calculate the difference between each year and the previous one
# However, the fact that we now have it returns numpy array does not change anything,
# we can assign it to a new column in the same way
waste["chemical_diff"] = np.diff(waste["chemical"], prepend=1000)
waste

,residual,organic,paper,glass,textiles,chemical,other,organic_cumsum,chemical_diff
year,,,,,,,,,
2011,4334000,600000,1297000,1044000,349000,66000,21000,600000,65000
2012,4199000,536000,1303000,981000,348000,65000,20000,1136000,-1000
2013,3996000,473000,1252000,924000,345000,65000,20000,1609000,0
2014,3934000,465000,1346000,914000,339000,67000,19000,2074000,2000
2015,3838000,455000,1348000,904000,342000,73000,20000,2529000,6000
2016,3706000,485000,1402000,896000,343000,76000,20000,3014000,3000
2017,3562000,505000,1468000,879000,345000,80000,21000,3519000,4000
2018,3466000,525000,1487000,854000,350000,81000,22000,4044000,1000
2019,3344000,515000,1548000,837000,357000,86000,23000,4559000,5000
2020,3566000,575000,1672000,843000,392000,84000,25000,5134000,-2000

# Export file

In [ ]:
# save the results as a csv file

# ! ANSWER
# waste.to_csv("waste_statistics.csv")